.input {
    font-size: 22px;
}

.input__label {
    margin-bottom: 10px;
}

.input__enter {
    font-size: 18px;
    color: inherit;
    border: none;
    outline: none;
    width: 100%;
    background: #393C46;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 14px 22px;

    &:focus {
        outline: none;
    }
}
