.TodoList {
    line-height: 1.5;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.TodoList__item {

}

@media (max-width: 620px) {
    .TodoList {
        font-size: 14px;
    }
}